:root {
 /* color scheme 1 */
  --silver-sand: #BCD8C1;
  --yankees-blue: #0B3142;
  --flax: #E9D985;
  --zomp: #439A86;
  --sea-blue: #007991;
 /* color scheme 2 */
--wilderness-1: #182E59;
--wilderness-2: #355B8C;
--wilderness-3: #6387A6;
--wilderness-4: #F2E1C2;
--wilderness-5: #A63B14;
/* Color Theme Swatches in Hex */
--dentist-1: #535FA6;
--dentist-2: #85B4F2;
--dentist-3: #9BCAF2;
--dentist-4: #594022;
--dentist-5: #D9B1A3;
/* bootstrap */
--danger: #dc3545;
--primary :#007bff;
}

.generator-container{
  width: 100%;
}

.generator-intervals {
  display: flex;
  justify-content: space-around;
}

.generator-schedule {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.generator-slug {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1.5rem;
  width: 100%;
}

.dayhead {
  height: 3rem;
}

.generator-headsup{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.interval-picker {
  display: flex;
}

.interval-picker > p {
  color: #666;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.interval-picker > input {
  margin-right: 0.5rem;
}

.generator-controls{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.generator-flatpickr{
  grid-area: flatpickr;
  text-align: center;
  font-size: 1.2rem;
  width: 6rem;
}

.generator-flatpickr::placeholder{
  color: #FF4200;
}

.range-flatpickr {
  grid-area: flatpickr;
  text-align: center;
  font-size: 1.2rem;
  min-width: 14rem;
}

.generator-flatpickr::placeholder{
  color: #FF4200;
}

#multi-duration {
  font-size: 1.2rem;
  width: 4rem;
  text-align: center;
  margin-left: 0.5rem;
}

#multi-duration-label {
  font-size: 1.2rem;
}

.period-picker {
  display: flex;
}

.period-picker > p {
  color: #666;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.period-headsup {
  font-size: 1.2rem;
}

@media(min-width: 500px) {
  .generator-slug {
    min-width: 3rem;
  }
  .generator-flatpickr, .range-flatpickr {
    max-height: 2rem;
  }
}
