:root {
 /* color scheme 1 */
  --silver-sand: #BCD8C1;
  --yankees-blue: #0B3142;
  --flax: #E9D985;
  --zomp: #439A86;
  --sea-blue: #007991;
 /* color scheme 2 */
--wilderness-1: #182E59;
--wilderness-2: #355B8C;
--wilderness-3: #6387A6;
--wilderness-4: #F2E1C2;
--wilderness-5: #A63B14;
/* Color Theme Swatches in Hex */
--dentist-1: #535FA6;
--dentist-2: #85B4F2;
--dentist-3: #9BCAF2;
--dentist-4: #594022;
--dentist-5: #D9B1A3;
/* bootstrap */
--danger: #dc3545;
--primary :#007bff;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to right, var(--dentist-1) 0%, var(--dentist-3) 100%);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* appointment view classes */

.appointments-main{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  margin-top: 3rem;
}

.user-appointments-container {
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem;
  max-width: 40rem;
  margin-bottom: 2rem;
  width: 100%;
}

.top-container {
  border-radius: 5px;
  background-color: #fff;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "title"
    "flatpickr"
    "date"
  ;
  padding: 1rem;
  width: 100%;
  max-width: 40rem;
}

@media(min-width: 500px) {
  .top-container {
    grid-template-areas:
      "title flatpickr"
      "date date"
    ;
  }

  .appointment-item {
    min-width: 6rem;
  }

}

.appointments-title{
  display: flex;
  flex-direction: column;
  grid-area: title;
}

.appointments-title > h2 {
  font-size: 2rem;
}

.appointments-title > p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.top-logo {
  align-self: center;
  margin-bottom: 0.5rem;
  width: 50%;
}

.user-appointments-title {
  margin-bottom: 1rem;
}

.user-appointment {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  padding: 0.5rem;
}

.cancel-user-appointment {
  align-self: flex-end;
  display: inline-block;
  background-color: #fff;
  color: var(--danger);
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  max-width: 8rem;
}

.cancel-user-appointment:hover {
  background-color: rgba(220, 53, 69, 0.2);
}

.exit-button {
  background-color: var(--primary);
  color: #fff;
  border: 3px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

.exit-button:hover {
  color: #fff;
  background-color: rgba(0, 123, 255, 0.7);
  border: 2px solid rgba(0, 123, 255, 0.7);
}

.exit-button:disabled {
  color: #fff;
  background-color: #aaa;
}

.appointments-flatpickr{
  grid-area: flatpickr;
  text-align: center;
  font-size: 1.2rem;
  min-width: 14rem;
}

.appointments-date{
  grid-area: date;
}

.appointments-date > p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.appointments-grid{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 1rem;
  max-width: 30rem;
  width: 100%;
}

.appointment-item{
  background-color: yellow;
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  width: 4rem;
}

.available {
  background-color: white;
}

.unavailable {
  background-color: grey;
}

.modal-text{
  padding: 1rem 2rem 0.5rem;
}

.expand-contact {
  color: #444;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.25rem 0rem;
}

.contact-details {
  padding-left: 0.5rem;
}

.contact-details > a {
  display: block;
  text-decoration: none;
}

.address {
  font-weight: bold;
}

/* home form css */

.home-container input {
  border: 0;
  border-bottom: 1px solid #bbb;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.home-container input:hover {
  border-bottom: 2px solid var(--dentist-1);
}

.home-container input:focus {
  border-bottom: 2px solid rgba(81, 203, 238, 1);
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  min-height: 86vh;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  border-radius: 6px;
  box-shadow: 0px 10px 50px #555;
  background-color: #fff;
}

.login-signup-guest{
  display: grid;
  grid-template-areas:
    "name"
    "surname"
    "phone"
    "button"
    ;
  grid-gap: 0.5rem;
}

@media(min-width: 500px){
  .login-signup-guest{
    grid-template-areas:
      "name surname"
      "phone phone"
      " .    button";
    }
}

.form-wrapper > h1 {
  text-align: center;
  width: 100%;
  color: #111;
  margin-bottom: 1rem;
}

.error-msg {
  color: var(--danger);
  font-size: 0.8rem;
  text-align: right;
  margin-top: 0.2rem;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-height: 4rem;
}

.field-wrapper > input {
  font-size: 1.4rem;
}

.field-wrapper > label {
  font-size: 1.2rem;
}

.phone-input input {
  font-size: 1.2rem;
}

.name {
  grid-area: name;
  max-width: 60vw;
}

.surname {
  grid-area: surname;
  max-width: 60vw;
}

.phone {
  grid-area: phone;
  max-width: 60vw;
}

.enter-platform{
  grid-area: button;
}

label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: #666;
  fonr-weight: lighter;
}

.enter-platform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enter-platform button {
  background-color: var(--primary);
  color: #fff;
  border: 2px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

.enter-platform button:hover {
  color: #fff;
  background-color: rgba(0, 123, 255, 0.7);
  border: 2px solid rgba(0, 123, 255, 0.7);
}

.enter-platform button:disabled {
  color: #fff;
  background-color: #aaa;
}

.navbar {
  top: 0;
  position:fixed;
  width: 100%;
  background-color: #333;
  color: white;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-error {
  align-items: center;
  justify-content: center;
  display: flex;
  color: orange;
  width: 100%;
}

.loading-main {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2.2rem;
  height: 1.9rem;
  left: 2rem;
  top: 0.6rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2rem;
  width: 2rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.2em;
}

.bm-menu a{
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.bm-menu button{
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* Profile Styles */

.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-top: 4.5rem;
}

.profile-header{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.profile-wrapper{
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 1rem;
  border-radius: 6px;
  box-shadow: 0px 10px 50px #555;
  background-color: #fff;
}

.profile-wrapper > p {
  margin-bottom: 1rem;
}

.edit-button{
  display: inline-block;
  background-color: var(--primary);
  color: #fff;
  border: 2px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
  max-width: 6rem;
}

.edit-button:hover {
  background-color: rgba(0, 123, 255, 0.2);
  color: var(--primary);
}

.edit-btn-wrapper{
  display: flex;
  justify-content: flex-end;
}

.edit-save-wrapper{
  display: flex;
  justify-content: space-between;
}

.cancel-button{
  display: inline-block;
  background-color: var(--danger);
  color: #fff;
  border: 2px solid var(--danger);
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
  max-width: 6rem;
}

.cancel-button:hover {
  background-color: rgba(220, 53, 69, 0.2);
  color: var(--danger);
}

/* appointments book css */


.appointments-book-main{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  margin-top: 3rem;
}

.book-list {
 display: flex;
 flex-direction: column;
 background-color: #fff;
 border-radius: 5px;
 padding: 2rem;
}

.book-list-day {
  margin-top: 1.5rem;
}

.appointment-info {
  margin-top: 1rem;
  padding: 1rem;
  boder-radius: 5px;
  box-shadow: 2px 2px 2px lightgrey;
}

/*campaigns view*/



.campaigns-main {
  display: grid;
  grid-template-areas:
  "message"
  "management"
  "list"
  ;
  grid-gap: 1.5rem;
  padding: 2rem;
  margin-top: 3rem;
}

.campaigns-message {
  grid-area: message;
  display: flex;
  flex-direction: column;
 background-color: #fff;
 border-radius: 5px;
 min-width: 80vw;
 padding: 2rem;
}

.textarea-container {
  display: grid;
  grid-template-areas:
    "main-textarea"
    "info-options"
    "translated-textarea"
    "campaign-buttons";
  grid-gap: 1rem;
}

.main-textarea {
  grid-area: main-textarea;
}

.info-options {
  grid-area: info-options;
}

.translated-textarea {
  grid-area: translated-textarea;
}

.campaign-buttons {
  grid-area: campaign-buttons;
  display: flex;
  flex-direction: column;
}

.campaigns-message > h1 {
  margin-bottom: 1rem;
}

.campaign-management {
 grid-area: management;
 display: flex;
 flex-direction: column;
 background-color: #fff;
 border-radius: 5px;
 min-width: 80vw;
 padding: 1rem 2rem;
}

.recipients-list{
  grid-area: list;
 display: flex;
 flex-direction: column;
 background-color: #fff;
 border-radius: 5px;
 min-width: 80vw;
 padding: 2rem;
}

.textarea-container textarea {
  min-height: 5rem;
  min-width: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.add-recipients-form {
  display: grid;
  grid-template-areas:
    "input-array"
    "import-container"
    ;
  grid-gap: 1rem;
}

.input-array {
  grid-area: input-array;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-width: 6rem;
  max-width: 100%;
}

.input-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.input-line:nth-child(3) {
  margin-bottom: 1rem;
  flex-direction: column;
}

.input-line label {
  flex: 1 1 6rem;
}

.input-line input {
  flex: 2 1 auto;
  min-width: 4rem;
}

.add-phone {
  min-width: 6rem;
}

.import-container { 
  align-items: center;
  grid-area: import-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;  
}

#csv-import {
  width: 12rem;
  display: none;
}

.customers-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.customer-list-item {
  display:flex;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 0.25rem;
}

.customer-fields {
  flex: 1;
}

.remove-customer {
  width: 2rem;
  height: 2rem;
  align-self: center;
  background-color: #fff;
  color: var(--danger);
  border: 2px solid var(--danger);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.remove-customer:active {
  background-color: rgba(220, 53, 69, 0.4);
  color: #fff;
}

.save , .delete {
  margin-top: 0.5rem;
}

.selected { background-color: #CFD3E7 }

.campaigns-header { 
  display: flex;
  flex-direction: column;
}

.cp-button {
  background-color: var(--primary);
  color: #fff;
  border: 2px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  max-width: 20rem;
}

.cp-button:hover {
  color: #fff;
  background-color: rgba(0, 123, 255, 0.7);
  border: 2px solid rgba(0, 123, 255, 0.7);
}

.cp-button:disabled {
  color: #fff;
  background-color: #aaa;
}


.cs-button{
  display: inline-block;
  background-color: var(--danger);
  color: #fff;
  border: 2px solid var(--danger);
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
  max-width: 20rem;
}

.cs-button:hover {
  background-color: rgba(220, 53, 69, 0.2);
  color: var(--danger);
}

.csv-import-button {
  display: inline-block;
  background-color: var(--zomp);
  border-radius: 5px;
  border: 2px solid var(--zomp);
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  max-width: 20rem;
}

.csv-import-button:hover {
  background-color: rgba(67, 153, 134, 0.7);
}

@media(min-width: 500px) {

  .add-recipients-form {
    grid-template-areas:
    "input-array import-container"
  }

  .campaign-management {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 2rem;
  }

  .campaigns-main {
    grid-template-areas:
      "message message management"
      "list list list"
  }

  .customers-list {
    grid-template-columns: 1fr 1fr;
  }

  .textarea-container {
    grid-template-areas:
    "main-textarea main-textarea main-textarea main-textarea info-options"
    "translated-textarea translated-textarea translated-textarea translated-textarea campaign-buttons";
  }
}

@media(min-width: 762px) {
  .customers-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: 900px) {
  .customers-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
