:root {
 /* color scheme 1 */
  --silver-sand: #BCD8C1;
  --yankees-blue: #0B3142;
  --flax: #E9D985;
  --zomp: #439A86;
  --sea-blue: #007991;
 /* color scheme 2 */
--wilderness-1: #182E59;
--wilderness-2: #355B8C;
--wilderness-3: #6387A6;
--wilderness-4: #F2E1C2;
--wilderness-5: #A63B14;
/* Color Theme Swatches in Hex */
--dentist-1: #535FA6;
--dentist-2: #85B4F2;
--dentist-3: #9BCAF2;
--dentist-4: #594022;
--dentist-5: #D9B1A3;
/* bootstrap */
--warning: #dc3545;
--primary :#007bff;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to right, var(--dentist-1) 0%, var(--dentist-3) 100%);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* appointment view classes */

.appointments-main{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

.top-container {
  border-radius: 5px;
  background-color: #fff;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
}

@media(min-width: 500px) {
  .top-container {
    grid-template-columns: 1fr 1fr;
  }

  .appointment-item {
    min-width: 6rem;
  }

}

.appointments-grid{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 1rem;
  max-width: 30rem;
  width: 100%;
}

.appointment-item{
  background-color: yellow;
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  width: 4rem;
}

.available {
  background-color: white;
}

/* home form css */

.home-container input {
  border: 0;
  border-bottom: 1px solid #bbb;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.home-container input:hover {
  border-bottom: 2px solid var(--dentist-1);
}

.home-container input:focus {
  border-bottom: 2px solid rgba(81, 203, 238, 1);
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  border-radius: 6px;
  box-shadow: 0px 10px 50px #555;
  background-color: #fff;
}

.login-signup-guest{
  display: grid;
  grid-template-areas:
    "name"
    "surname"
    "phone"
    "button"
    ;
  grid-gap: 0.5rem;
}

@media(min-width: 500px){
  .login-signup-guest{
    grid-template-areas:
      "name surname"
      "phone phone"
      " .    button";
    }
}

.form-wrapper > h1 {
  text-align: center;
  width: 100%;
  color: #111;
  margin-bottom: 1rem;
}

.error-msg {
  color: var(--warning);
  font-size: 0.8rem;
  text-align: right;
  margin-top: 0.2rem;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-height: 4rem;
}

.name {
  grid-area: name;
  max-width: 60vw;
}

.surname {
  grid-area: surname;
  max-width: 60vw;
}

.phone {
  grid-area: phone;
  max-width: 60vw;
}

.enter-platform{
  grid-area: button;
}

label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: #888;
  fonr-weight: lighter;
}

.enter-platform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enter-platform button {
  background-color: var(--primary);
  color: #fff;
  border: 3px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

.enter-platform button:hover {
  color: var(--primary);
  background-color: #fff;
  border: 3px solid var(--primary);
}

.enter-platform button:disabled {
  color: #fff;
  background-color: #aaa;
}

.navbar {
  background-color: #333;
  color: white;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2.2rem;
  height: 1.9rem;
  left: 2rem;
  top: 0.6rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2rem;
  width: 2rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.2em;
}

.bm-menu a{
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.bm-menu button{
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* Profile Styles */

.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.profile-header{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.profile-wrapper{
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 1rem;
  border-radius: 6px;
  box-shadow: 0px 10px 50px #555;
  background-color: #fff;
}

.profile-wrapper > p {
  margin-bottom: 1rem;
}

.edit-button{
  display: inline-block;
  background-color: var(--primary);
  color: #fff;
  border: 3px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
  max-width: 5rem;
}

.edit-btn-wrapper{
  display: flex;
  justify-content: flex-end;
}
